// colors
$colors: (
  "primary": #2da44e,
  "info": #4b67af,
  "danger": #791a15,
  "blue-1": #1f3695,
  "blue": #4394e4,
  "white": #fff,
  "white-1": #fcfcfc,
  "white-2": #eceef0,
  "light": #f9f9f9,
  "light-1": #d4d9de,
  "grey": #999,
  "grey-1": #666,
  "dark-1": #343440,
  "dark": #222,
  "black": #000,
);
// font size
$base-font-size: 16px;
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
);
$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
);
// margin padding
$spacing-types: (
  m: margin,
  p: padding,
);
$spacing-directions: (
  "": 0,
  t: top,
  r: right,
  b: bottom,
  l: left,
);
