@import "./color_variables.css";
// colors
$colors: (
  "primary": var(--primary),
  "info": var(--info),
  "danger": var(--danger),
  "blue": var(--blue),
  "white": var(--white),
  "light": var(--light),
  "grey": var(--grey),
  "dark": var(--dark),
  "black": var(--black),
);
// font size
$base-font-size: 16px;
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
);
$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
);
// margin padding
$spacing-types: (
  m: margin,
  p: padding,
);
$spacing-directions: (
  "": 0,
  t: top,
  r: right,
  b: bottom,
  l: left,
);
